extends ../layout/index

block contenido
    div
        h2.text-center.text-2xl.font-extrabold Inicia Sesión





//- Tailwind - buscar

//- h2(id="Title")
//- h2= autenticado
//- h2.text-center Login
//- p Inicia sesión

//- if autenticado 
//-     p Usuario Autenticado 
//- else 
//-     p Inicia sesión


